name: CI

on:
  pull_request:
  schedule:
    - cron: '0 0 * * 1'

jobs:
  ci:
    name: Building ${{ matrix.file }}
    runs-on: ubuntu-latest
    strategy:
      matrix:
        file:
          - Integrations/ESPHome/TEMP_PRO-1_ETH.yaml
          - Integrations/ESPHome/TEMP_PRO-1_W.yaml
        esphome-version:
          - stable
          - beta
          - dev
    steps:
      - name: Checkout source code
        uses: actions/checkout@v4.1.7
      - name: Build ESPHome firmware to verify configuration
        uses: esphome/build-action@v6
        with:
          yaml-file: ${{ matrix.file }}
